
<!DOCTYPE HTML>
<html layout:decorate="~{layouts/default}">
<head>
  <title>Update event</title>
</head>
	<body>
	<div layout:fragment="content">
	    <form action="#" th:action="@{'/events/update/'+${event.id}}" th:object="${event}" method="post">
	      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
	        <label for="name">Name</label>
	        <input class="form-control" type="text" name="name" id="name" placeholder="Event name" autofocus="autofocus" th:value="${event.name}"/>
	        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
	      </div>
	      
	      <div class="form-group" th:classappend="${#fields.hasErrors('date')}? has-error">
	        <label for="date">Date</label>
	        <input class="form-control" type="date" name="date" id="date" autofocus="autofocus" th:value="${event.date}"/>
	        <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">errors</p>
	      </div>
	      
	      <div class="form-group" th:classappend="${#fields.hasErrors('time')}? has-error">
	        <label for="time">Time</label>
	        <input class="form-control" type="time" name="time" id="time"  autofocus="autofocus" th:value="${event.time}"/>
	        <p class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">errors</p>
	      </div>
	      
	      <div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
	        <label for="description">Description</label>
	        <input class="form-control" type="text" name="description" id="description"  autofocus="autofocus" th:value="${event.description}"/>
	        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">errors</p>
	      </div>
	      
	       <div class="form-group" th:classappend="${#fields.hasErrors('venue')}? has-error">
	           <label for="venue">Venue:</label>
	           <div>
	              <select name="venue" th:value="${event.venue.id}">
	                 <option th:each="v : ${venues}" th:value="${v.id}" th:text ="${v.name}"></option>
	              </select>
	           </div>
	           <p class="text-danger" th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}">errors</p>
	        </div>
	  
	      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
	      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
	    </form>
	    </div>
	</body>
</html>