.jumbotron {
  background-color: red;
  color: #4D7298;
  padding: 1000px 25px;
}

#header{
  background-color: #182825;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
}

#title{
	font-size:50px;
}


th{
background-color: #9DC3C2;
}